@import "../_GlobalStyle.scss";
@import "../_Variables.scss";

main {
    margin-bottom: 0 !important;
}

.navbar {
    margin-bottom: 0;
}

#introduction {
    background-color: $lighter-black;
    width: 100%;
    padding: 50px;

    #name {
        font-size: 55px;
        color: $white-color;
        margin-bottom: 10px;
    }

    .function-title {
        &-character {
            margin-right: 1px;
            color: $theme-color;
            font-size: 22px;

            &:nth-child(even) {
                position: relative;
                top: -15px;
                animation: character-move-animation 1s forwards;
            }

            &:nth-child(odd) {
                position: relative;
                top: 15px;
                animation: character-move-animation 1s forwards;
            }
        }
    }

    .function-title-space {
        display: inline-block;
        width: 5px;
    }

    @keyframes character-move-animation {
        100% {
            top: 0;
        }
    }
}

.info-section {
    width: 100%;
    padding: 10px;

    .section-title::after {
        content: "";
        width: 200px;
        height: 2px;
        position: relative;
        display: block;
        background-color: $theme-color;
        bottom: 0;
        margin-top: 6px;
        margin-left: -10px;
    }
}

.contact-section {
    padding: 50px;
    background-color: #eee;
    // color: $white-color;

    #contact-button {
        width: 200px;
    }
}
