main {
    margin-bottom: 350px;
}

@media screen and (max-width: 768px) {
    main {
        margin-bottom: 531px;
    }

    .footer-section {
        width: 100% !important;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $black-color;
    color: $white-color;

    ul {
        list-style-type: none;
    }

    a,
    .contact-info-link {
        color: $white-color;
        text-decoration: none;

        &:hover {
            color: darken($white-color, 15%);
        }
    }

    #footer-info {
        padding: 50px;
        /*text-align: center;*/
    }

    #copyright {
        width: 100%;
        background-color: $lighter-black;
        text-align: center;
        padding: 15px;

        p {
            margin: 0;
        }
    }
}

.contact-info-link {
    text-decoration: underline dotted !important;
}

.footer-section {
    width: fit-content;
    padding: 5px;
}

.footer-link {
    display: block;
}

.footer-social-media {
    font-size: 30px;
}
