@import "_Variables.scss";

html {
    margin: 0;
    padding: 0;

    body {
        min-height: 100vh;
    }
}

main {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;

    .form-label-subtitle {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.bold {
    font-weight: bold;
}

a,
.btn-link {
    text-decoration: none;
    color: darken($theme-color, 10%);
}

.link {
    border-bottom: 1px dashed $theme-color;

    &:hover {
        border-bottom-style: solid;
    }
}

.required-input::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.form-control {
    border-radius: 0;
    height: 42px;
    box-sizing: border-box !important;
    padding: 10px;
    border: none;
    border-bottom: #ced4da 1px solid;
    background-color: transparent !important;

    &:focus {
        background-color: initial !important;
        box-shadow: none !important;
        border-bottom: $theme-color 2px solid;
    }
}

.btn-check:checked
+ .btn:focus-visible,
:not(.btn-check)
+ .btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.dropdown-toggle:focus-visible {
    box-shadow: none !important;
}

.btn {
    border-radius: 0;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
    box-shadow: none;
    width: 18px;
    height: 18px;
}

::selection {
    background-color: rgba($theme-color, 50%);
    color: white;
}
